.CodeMirror {
  height: 100%;
}

.title-input {
  box-shadow: none;
  background-color: inherit;
  border-style: none;
  border-radius: 0;
  border-bottom: 2px solid #ff0000;
  font-size: 26px;
  font-weight: bold;
}

.title-input::-webkit-input-placeholder {
  font-style: italic;
}

.menu-btn {
  float: left;
}

.page-adjacent {
  padding-left: 0px;
  margin-top: 1cm;
}

.page-sidebar {
  padding-right: 0px;
}

.page-sidebar .page {
  margin-right: 0px;
}

.col-md-offset-custom {
  padding-left: 20.5%
}

.col-md-custom {
  margin-left: 81%
}

.hide-snap-overflow {
  overflow-x: hidden;
}

#page-wrapper {
  background-color: #eee;
}

.no-bottom-margin {
  margin-bottom: 0px;
}

.top-padding {
  padding-top: 20px;
}

.block {
  display: block;
}

.collab-cursor {
  opacity: 1;
  /*top: 0px;*/
  cursor: text;
  position: absolute;
  z-index: 24;
  display: inline-block;
  /*left: 52px;*/
}

.cursor {
  position: absolute;
  width: 0px;
  font-size: 0px;
  border-left: 2px solid;
  height: 22px;
}

snap-content {
  background-color: #eee;
}

.page-slide-left {
  margin-left: 15px;
}

pageslide {
  /*border-left: 2px solid darkgray;*/
  border-right: 2px solid darkgray;
  background-color: #eee;
  /*width: 268px !important;*/
  top: 55px !important;
  /*overflow-y: scroll;*/
  /*overflow-x: hidden;*/
  /*height: auto !important;*/
}

.open-sidebar {
  padding-top: 20px;
}

/*.open-sidebar div, .sidebar-icon {
  position: relative;
  z-index: 50;
}*/

.sidebar-icon {
  top: 6px;
  left: 5px;
}

/*.closed-sidebar-button {
  left: 300px;
}

.open-sidebar-button {
  left: 268px;
}*/

.sidebar-button {
  left: 268px;
  transition-duration: 0.5s;
  transition-property: left;
  height: 26px;
  width: 30px;
  position: relative;
  background-color: darkgray;
  border-radius: 0px 25px 25px 0px;
}

.title-header {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  background-color: #eee;
  border-bottom: 2px solid darkgray;
  width: 100%;
  z-index: 2000;
  top: 0px;
}

.saved {
  color: green;
}

.grid-row-no-margin .row {
  margin-left: 0px;
  margin-right: 0px;
}

.current-dot {
  margin-left: 5px;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: goldenrod;
}

.panel-modifications {
  margin-top: 0px !important;
  border-radius: 0px !important;
}

.profile-container {
  padding: 5px;
}

.avatar {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 50px;
}

.profile-text {
  text-align: center;
}
.cursor-name {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  position: fixed;
  font-size: 10px;
  color: #fff;
  padding: 2px;
  white-space: nowrap;
  display: inline-block;
  opacity: 0;
  text-align: center;
  font-size: 34px;
}

.collab-cursor:hover .cursor-name {
  opacity: 1;
}

.info-link {
  text-align: center;
  display: block;
}

a {
  cursor: pointer;
}

.bootstrap-switch-center-switch {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.create-text {
  display: inline-block;
}

.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.ui-select-container {
  width: inherit !important;
}

.workspace {
  height: 100vh;
  margin-top: 2cm;
  overflow-y: auto;
}

.border-bottom {
  border-bottom: 2px solid darkgray;
  position: absolute;
  bottom: 0;
  width: 100%
}

.zoom {
  transform: scale(1);
}