.CodeMirror {
  height: 100%;
}

.title-input {
  box-shadow: none;
  background-color: inherit;
  border-style: none;
  border-radius: 0;
  border-bottom: medium solid #ff0000;
  font-size:18px;
}

.title-input::-webkit-input-placeholder {
  font-style: italic;
}

.menu-btn {
  float: left;
}

.page-adjacent {
  padding-left: 0px;
  margin-top: 1cm;
}

.page-sidebar {
  padding-right: 0px;
}

.page-sidebar .page {
  margin-right: 0px;
}

.col-md-offset-custom {
  margin-left: 12.333333%
}

.col-md-custom {
  margin-left: 81%
}

.hide-snap-overflow {
  overflow-x: hidden;
}