.CodeMirror {
  height: 100%;
}

.title-input {
  box-shadow: none;
  background-color: inherit;
  border-style: none;
  border-radius: 0;
  border-bottom: medium solid #ff0000;
  font-size: 36px;
  font-weight: bold;
}

.title-input::-webkit-input-placeholder {
  font-style: italic;
}

.menu-btn {
  float: left;
}

.page-adjacent {
  padding-left: 0px;
  margin-top: 1cm;
}

.page-sidebar {
  padding-right: 0px;
}

.page-sidebar .page {
  margin-right: 0px;
}

.col-md-offset-custom {
  margin-left: 12.333333%
}

.col-md-custom {
  margin-left: 81%
}

.hide-snap-overflow {
  overflow-x: hidden;
}

#page-wrapper {
  background-color: #eee;
}

.no-bottom-margin {
  margin-bottom: 0px;
}

.top-padding {
  padding-top: 20px;
}

.block {
  display: block;
}

.collab-cursor {
  opacity: 1;
  /*top: 0px;*/
  cursor: text;
  position: absolute;
  z-index: 24;
  display: inline-block;
  /*left: 52px;*/
}

.cursor {
  position: absolute;
  width: 0px;
  font-size: 0px;
  border-left: 2px solid;
  height: 22px;
}

snap-content {
  background-color: #eee;
}

snap-drawer {
  border-right: medium solid darkgray;
}

.open-sidebar {
  position: absolute;
  z-index: 50;
  height: 100%;
  /*background-color: lightblue;*/
}

.open-sidebar div, .sidebar-icon {
  position: relative;
  z-index: 50;
}

.sidebar-icon {
  top: 42px;
}

.open-sidebar-button {
  height: 100px;
  background-color: darkgray;
  top: 38%;
  border-radius: 0px 25px 25px 0px;
}

.title-header {
  padding-left: 15px;
  padding-right: 15px;
}

.saved {
  color: green;
}