<div class="row">
  <div class="profile-container">
    <p>Hover over for that element's definition and click to insert</p>
  </div>
  <ul class="list-group">
      <li class="list-group-item" ng-repeat="(key, element) in sidebar.scriptElements">
          <span class="text-capitalize" role="button"
              ng-class="{bold: sidebar.cursorToken === key }"
              uib-tooltip="{{ element.description }}"
              tooltip-placement="right"
              ng-click="sidebar.insertTemplate(element.template)">{{ key }}</span>
      </li>
  </ul>
</div>