<div ng-controller="SidebarCtrl as sidebar">
  <div class="grid grid-row-no-margin" ng-if="!sidebar.inspectHistory">
    <div class="row">
      <div class="profile-container">
        <img ng-if="sidebar.user" class="avatar img-responsive img-circle" ng-src="{{ sidebar.user.photoURL }}"></img>
        <div ng-if="sidebar.user" class="profile-text">
          <span>{{ sidebar.user.displayName }}</span>
          <br>
          <a class="pointer" ng-click="sidebar.signOut()">Sign out</a>
        </div>
        <div ng-if="!sidebar.user && workspace.online" class="profile-text">
          <a class="pointer" ng-click="sidebar.signIn()">Sign in</a>
        </div>
        <div ng-if="!sidebar.user && !workspace.online" class="profile-text">
          <span>No internet connection</span>
          <br>
          <span>Working offline</span>
        </div>
      </div>
    </div>
    <div class="row">
      <ul class="list-inline">
        <li>
          <div class="container">
            <div class="btn-group" uib-dropdown>
              <button id="split-button" type="button" class="btn btn-default" ng-disabled="!sidebar.newScriptType" ng-click="sidebar.createFile()">
                <span class="glyphicon glyphicon-plus"></span> Create {{ sidebar.newScriptType }} script</span>
              </button>
              <button type="button" class="btn btn-primary" uib-dropdown-toggle>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                <li role="menuitem" ng-repeat="scriptType in sidebar.scriptTypes">
                  <a ng-click="sidebar.newScriptType = scriptType">{{ scriptType }}</a>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="profile-container">
        <h4>Your files:</h4>
      </div>
    </div>
    <div class="row">
      <uib-accordion close-others="true">
        <div uib-accordion-group ng-repeat="file in workspace.files" class="panel-modifications panel-default" is-open="sidebar.openAccordion[file.id]" ng-if="!file.deleted">
          <uib-accordion-heading>
            <p>{{ file.title || 'Untitled ' + file.type }}<span class="current-dot" ng-if="file.id == workspace.workingFile.id"></span></p>
          </uib-accordion-heading>
          <ul class="list-inline">
            <li>
              <button type="button" class="btn btn-default"
              ng-click="sidebar.openAccordion[file.id] = false; workspace.changeFile(file.id)">
                <span class="glyphicon glyphicon-edit"></span>
              </button>
            </li>
            <li>
              <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-time"></span>
              </button>
            </li>
            <li>
              <button type="button" class="btn btn-default" ng-click="sidebar.showDetail(file.id)">
                <span class="glyphicon glyphicon-share"></span>
              </button>
            </li>
            <li>
              <button type="button" class="btn btn-default" ng-click="sidebar.showDetail(file.id)">
                <span class="glyphicon glyphicon-info-sign"></span>
              </button>
            </li>
            <li>
            </li>
          </ul>
          <ul class="list-inline">
            <li>
              <input bs-switch
              ng-model="file.sync"
              type="checkbox"
              switch-active="{{ workspace.online }}"
              switch-change="sidebar.setSync(file.id)"
              switch-icon="glyphicon glyphicon-cloud-upload"
              switch-wrapper="center-switch"></input>
            </li>
            <li>
              <button type="button" class="btn btn-danger" ng-click="sidebar.deleteFile(file.id)">
                <span class="glyphicon glyphicon glyphicon-trash"></span> Delete
              </button>
            </li>            
          </ul>
    </div>
  </div>
  <div class="grid" ng-if="sidebar.inspectHistory">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="history in sidebar.inspectHistory.history track by $index| orderBy:'modifiedOn'">
        <p>{{ history.modifiedOn | date : 'short' }}</p>
      </li>
  </div>
</div>