<div ng-controller="SidebarCtrl as sidebar">
  <div class="grid grid-row-no-margin">
    <div class="row">
      <div class="profile-container">
        <img ng-if="sidebar.user" class="avatar img-responsive img-circle" ng-src="{{ sidebar.user.photoURL }}"></img>
        <div ng-if="sidebar.user" class="profile-text">
          <span>{{ sidebar.user.displayName }}</span>
          <br>
          <a class="pointer" ng-click="sidebar.signOut()">Sign out</a>
        </div>
        <div ng-if="!sidebar.user && workspace.online" class="profile-text">
          <a class="pointer" ng-click="sidebar.signIn()">Sign in</a>
        </div>
        <div ng-if="!sidebar.user && !workspace.online" class="profile-text">
          <span>No internet connection</span>
          <br>
          <span>Working offline</span>
        </div>
      </div>
    </div>
    <uib-tabset active="sidebar.activeTab">
      <uib-tab index="0" heading="Control Panel">
        <div ng-include="'views/control-panel.html'"></div>
      </uib-tab>
      <uib-tab index="1" heading="Elements">
        <div ng-include="'views/elements-panel.html'"></div>
      </uib-tab>
    </uib-tabset>
  </div>
</div>