<snap-drawer snap-drawer="left">
  <div ng-include="'views/sidebar.html'"></div>
</snap-drawer>

<snap-content snap-event class="hide-snap-overflow">
  <div class="open-sidebar" scroll-element snap-toggle="left">
    <div class="open-sidebar-button">
    <span class="sidebar-icon block glyphicon glyphicon-menu-hamburger"></span>
    </div>
  </div>
  <div class="title-header page-header no-bottom-margin">
    <div class="form-group">
        <input type="text" class="form-control title-input" placeholder="Untitled {{ workspace.workingFile.type }}"
        pu-elastic-input pu-elastic-input-minwidth="300px" pu-elastic-input-maxwidth="1000px" ng-model="workspace.workingFile.title"
        ui-keypress="{13:'workspace.doBlur($event)'}">
    </div>
  </div>
  <div id="page-wrapper" class="row top-padding" ng-click="workspace.focusPage()">
    <div class="col-md-11 col-md-offset-custom">
      <div class="page col-md-11">
        <div class="CodeMirror-element" ui-codemirror="{ onLoad : workspace.codemirrorLoaded }" ui-codemirror-opts="workspace.editorOptions" ng-model="workspace.workingFile.content" ui-refresh="true" ng-show="workspace.tab == 'edit'" ></div>
      </div>
    </div>
  </div>
</snap-content>
