
<div class="title-header">


  <button type="button" class="btn pull-left toggle-sidebar"
  ng-click="workspace.togglePageslide()"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
  <div>
      <input type="text" class="form-control title-input" placeholder="Untitled {{ workspace.workingFile.type }}"
      pu-elastic-input pu-elastic-input-minwidth="300px" pu-elastic-input-maxwidth="1000px" ng-model="workspace.workingFile.title"
      ui-keypress="{13:'workspace.doBlur($event)'}">
  </div>
</div>

<div class="workspace">
  <pageslide ps-open="workspace.pageslideOpen"
  ps-side="left"
  ps-click-outside="false"
  ps-size="268px">
    <div class="open-sidebar">
      <div ng-include="'views/sidebar.html'"></div>
    </div>
  </pageslide>
  <div class="page">
    <div class="CodeMirror-element" ui-codemirror="{ onLoad : workspace.codemirrorLoaded }" ui-codemirror-opts="workspace.editorOptions" ng-model="workspace.workingFile.content" ui-refresh="true" ng-show="workspace.tab == 'edit'" ></div>
  </div>
</div>